<ul class="grid rows-3 cols-3" id="commercial">
  <li class="row-1 col-1">
    <div data-id="pipeline" data-view="Number" data-unordered="true" data-title="<%= t 'commercial.total_pipeline' %>" id="pipeline"></div>
  </li>
  <li class="row-2 col-1">
    <div data-id="weighted-pipeline" data-view="Number" data-unordered="true" data-title="<%= t 'commercial.weighted_pipeline' %>" id="weighted-pipeline"></div>
  </li>
  <li class="row-3 col-1">
    <div data-id="three-year-pipeline" data-view="Number" data-unordered="true" data-title="<%= t 'commercial.three_yr_pipeline' %>" id="three-year-pipeline"></div>
  </li>
  <li class="row-1 col-2">
    <div data-id="bookings" data-view="Number" data-unordered="true" data-title="<%= t 'commercial.bookings' %>" id="bookings"></div>
  </li>
  <li class="row-2 col-2">
    <div data-id="revenue" data-view="Number" data-unordered="true" data-title="<%= t 'commercial.grants_recognised' %>" id="revenue"></div>
  </li>
  <li class="row-3 col-2">
    <div data-id="backlog" data-view="Number" data-unordered="true" data-title="<%= t 'commercial.grants_backlog' %>" id="backlog"></div>
  </li>
  <li class="row-1 col-3">
    <div data-id="members" data-view="Number" data-unordered="true" data-title="<%= t 'commercial.members' %>" id="members"></div>
  </li>
  <li class="row-2 col-3">
    <div data-id="age" data-view="Number" data-unordered="true" data-title="<%= t 'commercial.opportunity_age' %>" id="age"></div>
  </li>
  <li class="row-3 col-3">
    <div data-id="old-opportunities" data-view="Number" data-unordered="true" data-title="<%= t 'commercial.old_opportunities' %>" id="old-opportunities"></div>
  </li>
</ul>
