<% pie_size = 150 %>

<ul class="grid rows-2 cols-3">
  <li class='row-1 col-1'>
    <div data-id="Diversity-gender-total" data-view="Pie" data-title="<%= t 'diversity.gender.total' %>" id="gender-total" data-tooltip="<%= t 'diversity.tips.gender.total' %>" data-width="<%= pie_size %>" data-height="<%= pie_size %>" data-radius="<%= pie_size/2 %>"></div>
  </li>
  <li class='row-1 col-2'>
    <div data-id="Diversity-gender-board" data-view="Pie" data-title="<%= t 'diversity.gender.board' %>" id="gender-board" data-tooltip="<%= t 'diversity.tips.gender.board' %>" data-width="<%= pie_size %>" data-height="<%= pie_size %>" data-radius="<%= pie_size/2 %>"></div>
  </li>
  <li class='row-1 col-3'>
    <div data-id="Diversity-gender-leadership" data-view="Pie" data-title="<%= t 'diversity.gender.leadership' %>" id="gender-leadership" data-tooltip="<%= t 'diversity.tips.gender.leadership' %>" data-width="<%= pie_size %>" data-height="<%= pie_size %>" data-radius="<%= pie_size/2 %>"></div>
  </li>
  <li class='row-2 col-1'>
    <div data-id="Diversity-gender-international" data-view="Pie" data-title="<%= t 'diversity.gender.international' %>" id="gender-international" data-tooltip="<%= t 'diversity.tips.gender.international' %>" data-width="<%= pie_size %>" data-height="<%= pie_size %>" data-radius="<%= pie_size/2 %>"></div>
  </li>
  <li class='row-2 col-3'>
    <div data-id="Diversity-gender-innovation" data-view="Pie" data-title="<%= t 'diversity.gender.innovation' %>" id="gender-innovation" data-tooltip="<%= t 'diversity.tips.gender.innovation' %>" data-width="<%= pie_size %>" data-height="<%= pie_size %>" data-radius="<%= pie_size/2 %>"></div>
  </li>
  <li class='row-2 col-2'>
    <div data-id="Diversity-gender-core" data-view="Pie" data-title="<%= t 'diversity.gender.core' %>" id="gender-core" data-tooltip="<%= t 'diversity.tips.gender.core' %>" data-width="<%= pie_size %>" data-height="<%= pie_size %>" data-radius="<%= pie_size/2 %>"></div>
  </li>
</ul>
