<% pie_size = 150 %>

<ul class="grid rows-2 cols-4">
  <li class='row-1 col-1 width-1 height-2'>
    <div data-id="Diversity-gender-total" data-view="Pie" data-title="<%= t 'diversity.gender.total' %>" id="gender-total" data-tooltip="<%= t 'diversity.tips.gender.total' %>"></div>    
  </li>
  <li class='row-1 col-2 width-1 height-1'>
    <div data-id="Diversity-gender-board" data-view="Pie" data-title="<%= t 'diversity.gender.board' %>" id="gender-board" data-tooltip="<%= t 'diversity.tips.gender.board' %>" data-width="<%= pie_size %>" data-height="<%= pie_size %>" data-radius="<%= pie_size/2 %>"></div>    
  </li>
  <li class='row-1 col-3 width-1 height-1'>
    <div data-id="Diversity-gender-smt" data-view="Pie" data-title="<%= t 'diversity.gender.smt' %>" id="gender-smt" data-tooltip="<%= t 'diversity.tips.gender.smt' %>" data-width="<%= pie_size %>" data-height="<%= pie_size %>" data-radius="<%= pie_size/2 %>"></div>    
  </li>
  <li class='row-1 col-4 width-1 height-1'>
    <div data-id="Diversity-gender-commercial" data-view="Pie" data-title="<%= t 'diversity.gender.commercial' %>" id="gender-commercial" data-tooltip="<%= t 'diversity.tips.gender.commercial' %>" data-width="<%= pie_size %>" data-height="<%= pie_size %>" data-radius="<%= pie_size/2 %>"></div>    
  </li>
  <li class='row-2 col-2 width-1 height-1'>
    <div data-id="Diversity-gender-international" data-view="Pie" data-title="<%= t 'diversity.gender.international' %>" id="gender-international" data-tooltip="<%= t 'diversity.tips.gender.international' %>" data-width="<%= pie_size %>" data-height="<%= pie_size %>" data-radius="<%= pie_size/2 %>"></div>    
  </li>
  <li class='row-2 col-3 width-1 height-1'>
    <div data-id="Diversity-gender-operations" data-view="Pie" data-title="<%= t 'diversity.gender.operations' %>" id="gender-operations" data-tooltip="<%= t 'diversity.tips.gender.operations' %>" data-width="<%= pie_size %>" data-height="<%= pie_size %>" data-radius="<%= pie_size/2 %>"></div>    
  </li>
  <li class='row-2 col-4 width-1 height-1'>
    <div data-id="Diversity-gender-technical" data-view="Pie" data-title="<%= t 'diversity.gender.technical' %>" id="gender-technical" data-tooltip="<%= t 'diversity.tips.gender.technical' %>" data-width="<%= pie_size %>" data-height="<%= pie_size %>" data-radius="<%= pie_size/2 %>"></div>    
  </li>
</ul>
