<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>ODI Dashboards | <%= page_title %></title>

  <!-- The javascript and css are managed by sprockets. The files can be found in the /assets folder-->
  <script type="text/javascript" src="/assets/application.js"></script>
  <link rel="stylesheet" href="/assets/application.css">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="icon" href="http://static.theodi.org/assets/favicon.ico">

</head>
  <body>
    <div id="container">
      <div id='company-header'>
        <a href="http://theodi.org/"><img src="/assets/odi_dashboard_logo.svg" /></a>
        <%= partial :currency %>
        <h1 class="title">
          <%= page_title %>
          <small id='dropdown'>&#x25BC;</small>
          <%= partial :navigation %>
        </h1>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
