<ul class="grid rows-8 cols-5" id="commercial">
  <li class="row-1 col-4 height-5">
    <div data-id="comms-spokespeople" data-view="List" data-ordered="true" data-title="<%= t "news_articles.spokespeople" %>" id="spokespeople"></div>
  </li>
  <li class="row-6 col-4 height-3">
    <div data-id="comms-sectors" data-view="List" data-ordered="true" data-title="<%= t "news_articles.sectors" %>" id="sectors"></div>
  </li>
  <li class="row-1 col-1 width-3 height-4">
    <div data-id="comms-sentiment" data-view="Pie" data-title="<%= t "news_articles.sentiment" %>" id="sentiment"></div>
  </li>
  <li class="row-5 col-1 height-2">
    <div class='small' data-id="comms-odi-volume" data-view="Number" data-title="<%= t "news_articles.odi.volume" %>" id="odi-volume"></div>
  </li>
  <li class="row-5 col-2 height-2">
    <div class='small' data-id="comms-odi-value" data-view="Number" data-title="<%= t "news_articles.odi.value" %>" id="odi-value"></div>
  </li>
  <li class="row-5 col-3 height-2">
    <div class='small' data-id="comms-odi-reach" data-view="Number" data-title="<%= t "news_articles.odi.reach" %>" id="odi-reach"></div>
  </li>
  <li class="row-7 col-1 height-2">
    <div class='small' data-id="comms-opendata-volume" data-view="Number" data-title="<%= t "news_articles.open_data.volume" %>" id="data-volume"></div>
  </li>
  <li class="row-7 col-2 height-2">
    <div class='small' data-id="comms-opendata-value" data-view="Number" data-title="<%= t "news_articles.open_data.value" %>" id="data-value"></div>
  </li>
  <li class="row-7 col-3 height-2">
    <div class='small' data-id="comms-opendata-reach" data-view="Number" data-title="<%= t "news_articles.open_data.reach" %>" id="data-reach"></div>
  </li>
  <li class="row-1 col-5 height-8">
    <div data-id="comms-geographies" data-view="List" data-ordered="true" data-title="<%= t "news_articles.geographies" %>" id="geographies"></div>
  </li>
</ul>
