<ul class="grid rows-4 cols-11" id="progress">
  <li class="row-1 col-1 width-3">
    <div data-id="<%= @year %>-q4-progress" data-view="Smallmeter" data-unordered="true" data-title="<%= t "progress.#{@year}.q4.title" %>" id="q4-progress"></div>
  </li>
  <li class="row-2 col-1 width-3">
    <div data-id="<%= @year %>-q3-progress" data-view="Smallmeter" data-unordered="true" data-title="<%= t "progress.#{@year}.q3.title" %>" id="q3-progress"></div>
  </li>
  <li class="row-3 col-1 width-3">
    <div data-id="<%= @year %>-q2-progress" data-view="Smallmeter" data-unordered="true" data-title="<%= t "progress.#{@year}.q2.title" %>" id="q2-progress"></div>
  </li>
  <li class="row-4 col-1 width-3">
    <div data-id="<%= @year %>-q1-progress" data-view="Smallmeter" data-unordered="true" data-title="<%= t "progress.#{@year}.q1.title" %>" id="q1-progress"></div>
  </li>
  <li class="row-1 col-4 width-4 height-4">
    <div data-id="<%= @year %>-<%= @quarter %>-rest-of-quarter" data-view="ProgressList" data-title="<%= t "progress.outstanding" %>" id="this-month"></div>
  </li>
  <li class="row-1 col-8 width-2 height-4">
    <div data-id="<%= @year %>-<%= @quarter %>-discuss" data-view="ProgressList" data-title="<%= t "progress.discuss" %>" id="discuss"></div>
  </li>
  <li class="row-1 col-10 width-2 height-4">
    <div data-id="<%= @year %>-<%= @quarter %>-done" data-view="ProgressList" data-title="<%= t "progress.done" %>" id="done"></div>
  </li>
</ul>
