<ul class="grid rows-6 cols-8">
  <li class='row-1 col-1 width-2 height-2'>
    <div data-id="milestone" data-view="Meter" id='milestone'></div>
  </li>
  <li class='row-3 col-1'>
    <div class='small' data-id="issues-graph" data-view="Number" data-title="<%= t 'tech.issues' %>" id='issues' data-tooltip="<%= t 'tech.tips.issues' %>"></div>
  </li>
  <li class='row-3 col-2'>
    <div class='small' data-id="pull-requests" data-view="Number" data-title="<%= t 'tech.open_prs' %>" id='open-prs' data-tooltip="<%= t 'tech.tips.open_prs' %>"></div>
  </li>
  <li class='row-4 col-1'>
    <div class='small' data-id="external-pulls" data-view="Number" data-title="<%= t 'tech.ex_prs' %>" id='external-prs' data-tooltip="<%= t 'tech.tips.ex_prs' %>"></div>
  </li>
  <li class='row-4 col-2'>
    <div class='small' data-id="external-pulls-merged" data-view="Number" data-title="<%= t 'tech.ex_prs_merged' %>" id='external-merged' data-tooltip="<%= t 'tech.tips.ex_prs_merged' %>"></div>
  </li>
  <li class='row-5 col-1 width-2 height-2'>
    <div data-id="twitter_mentions" data-view="Comments" data-title="<%= t 'tech.mentions' %>" id='twitter-mentions' data-tooltip="<%= t 'tech.tips.mentions' %>"></div>
  </li>
  <li class='row-1 col-3 width-4 height-6'>
    <div data-id="travis-builds" data-view="Travis" data-unordered="true" data-title="<%= t 'tech.build_status' %>" id='build-status' data-tooltip="<%= t 'tech.tips.build_status' %>"></div>
  </li>
  <li class='row-1 col-7 width-2 height-2'>
    <div data-id="travis-build-image" data-view="Image" data-unordered="true" id='build-image'></div>
  </li>
  <li class='row-3 col-7 width-2 height-3'>
    <div data-id="dependencies" data-view="Pie" data-title="<%= t 'tech.dependencies' %>" id="dependencies" data-tooltip="<%= t 'tech.tips.dependencies' %>"></div>
  </li>
  <li class='row-6 col-7 width-1 height-1'>
    <div class='small' data-id="dependency-alerts" data-view="Number" data-title="<%= t 'tech.dependency-alerts' %>" id="dependency-alerts" data-tooltip="<%= t 'tech.tips.dependency-alerts' %>"></div>
  </li>
  <li class='row-6 col-8 width-1 height-1'>
    <div class='small' data-id="application-errors" data-view="Number" data-title="<%= t 'tech.application-errors' %>" id="application-errors" data-tooltip="<%= t 'tech.tips.application-errors' %>"></div>
  </li>
</ul>
