<ul class="grid rows-2 cols-3" id="opex">
  <li class="row-1 col-1">
    <div data-id="2014-Active-members" data-view="NumberWithTarget" data-unordered="true" data-title="<%= t 'network.members' %>" id="active-members"></div>
  </li>
  <li class="row-1 col-2">
    <div data-id="2014-Partners" data-view="NumberWithTarget" data-unordered="true" data-title="<%= t 'network.partners' %>" id="partners"></div>
  </li>

  <li class="row-1 col-3">
    <div data-id="2014-Nodes" data-view="NumberWithTarget" data-unordered="true" data-title="<%= t 'network.nodes' %>" id="nodes"></div>
  </li>

  <li class="row-2 col-1">
    <div data-id="2014-Supporters" data-view="NumberWithTarget" data-unordered="true" data-title="<%= t 'network.supporters' %>" id="supporters"></div>
  </li>
  <li class="row-2 col-2">
    <div data-id="2014-Sponsors" data-view="NumberWithTarget" data-unordered="true" data-title="<%= t 'network.sponsors' %>" id="sponsors"></div>
  </li>

  <li class="row-2 col-3">
    <div data-id="2014-Startups" data-view="NumberWithTarget" data-unordered="true" data-title="<%= t 'network.startups' %>" id="startups"></div>
  </li>

</ul>
