<ul class="grid rows-6 cols-4" id="opex">
  <li class="row-1 col-1 height-3">
    <div data-id="2014-Income" data-view="NumberWithTarget" data-unordered="true" data-title="<%= t 'opex.income' %>" id="income"></div>
  </li>
  <li class="row-4 col-1 height-3">
    <div data-id="2014-Total-Costs" data-view="NumberWithTarget" data-unordered="true" data-title="<%= t 'opex.costs' %>" id="total-costs"></div>
  </li>
  <li class="row-1 col-2 height-2">
    <div data-id="2014-Headcount" data-view="Number" data-unordered="true" data-title="<%= t 'opex.headcount' %>" id="headcount"></div>
  </li>
  <li class="row-3 col-2 height-2">
    <div data-id="2014-EBITDA-YTD" data-view="Number" data-unordered="true" data-title="<%= t 'opex.ebitda_ytd' %>" id="ebitda-ytd"></div>
  </li>
  <li class="row-5 col-2 height-2">
    <div data-id="2014-EBITDA" data-view="Number" data-unordered="true" data-title="<%= t 'opex.ebitda_month' %>" id="ebitda-month"></div>
  </li>
  <li class="row-1 col-3 height-3">
    <div data-id="2014-Burn" data-view="Number" data-unordered="true" data-title="<%= t 'opex.burn' %>" id="burn"></div>
  </li>
  <li class="row-4 col-3 height-3">
    <div data-id="2014-Cash-Reserves" data-view="Number" data-unordered="true" data-title="<%= t 'opex.cash' %>" id="cash"></div>
  </li>
  <li class="row-1 col-4 height-6">
    <div data-id="2014-Fixed-cost-breakdown" data-view="Pie" data-title="<%= t 'opex.costs' %>" id="costs"></div>
  </li>
</ul>
