<ul class="grid rows-2 cols-3" id="research">
  <li class="row-1 col-1">
    <div data-id="2014-Reach" data-view="Number" data-unordered="true" data-title="<%= t 'reach.total' %>" id="total-reach" data-tooltip="<%= t 'reach.2014.tips.total' %>"></div>
  </li>
  <li class="row-1 col-2">
    <div data-id="2014-Active-reach" data-view="Number" data-unordered="true" data-title="<%= t 'reach.active' %>" id="active-reach" data-tooltip="<%= t 'reach.2014.tips.active' %>"></div>
  </li>
  <li class="row-1 col-3">
    <div data-id="2014-Passive-reach" data-view="Number" data-unordered="true" data-title="<%= t 'reach.passive' %>" id="passive-reach" data-tooltip="<%= t 'reach.2014.tips.passive' %>"></div>
  </li>

  <li class="row-2 col-1">
    <div data-id="2014-Articles" data-view="Number" data-unordered="true" data-title="<%= t 'reach.articles' %>" id="articles" data-tooltip="<%= t 'reach.2014.tips.articles' %>"></div>
  </li>
  <li class="row-2 col-2">
    <div data-id="2014-Events" data-view="Number" data-unordered="true" data-title="<%= t 'reach.events' %>" id="events" data-tooltip="<%= t 'reach.2014.tips.events' %>"></div>
  </li>
  <li class="row-2 col-3">
    <div data-id="2014-People-trained" data-view="NumberWithTarget" data-unordered="true" data-title="<%= t 'reach.people_trained' %>" id="people-trained" data-tooltip="<%= t 'reach.2014.tips.people_trained' %>"></div>
  </li>
</ul>
