<ul class="grid rows-15 cols-3" id="research">
  <li class="row-1 col-1 height-5">
    <div data-id="2015-PR-reach" data-view="Number" data-unordered="true" data-title="<%= t 'reach.pr' %>" id="pr-reach" data-tooltip="<%= t 'reach.2015.tips.pr' %>"></div>
  </li>
  <li class="row-6 col-1 height-5">
    <div data-id="2015-offline-reach" data-view="Number" data-unordered="true" data-title="<%= t 'reach.offline' %>" id="offline-reach" data-tooltip="<%= t 'reach.2015.tips.offline' %>"></div>
  </li>
  <li class="row-11 col-1 height-5">
    <div data-id="2015-Social-media-reach" data-view="Number" data-unordered="true" data-title="<%= t 'reach.social_media' %>" id="social-media-reach" data-tooltip="<%= t 'reach.2015.tips.social_media' %>"></div>
  </li>

  <li class="row-1 col-2 height-5">
    <div data-id="2015-Active-reach" data-view="Number" data-unordered="true" data-title="<%= t 'reach.active' %>" id="active-reach" data-tooltip="<%= t 'reach.2015.tips.active' %>"></div>
  </li>
  <li class="row-6 col-2 height-5">
    <div data-id="2015-Passive-reach" data-view="Number" data-unordered="true" data-title="<%= t 'reach.passive' %>" id="passive-reach" data-tooltip="<%= t 'reach.2015.tips.passive' %>"></div>
  </li>
  <li class="row-11 col-2 height-5">
    <div data-id="2015-Geographic-reach" data-view="Pie" data-unordered="true" data-title="<%= t 'reach.geographies' %>" id="geographies-pie" data-tooltip="<%= t 'reach.2015.tips.geographies' %>"></div>
  </li>

  <li class="row-1 col-3 height-3">
    <div data-id="2015-Website-visitors" data-view="Number" data-unordered="true" data-title="<%= t 'reach.website_visitors' %>" id="website-visitors" data-tooltip="<%= t 'reach.2015.tips.website_visitors' %>"></div>
  </li>
  <li class="row-4 col-3 height-3">
    <div data-id="2015-Publication-reads" data-view="Number" data-unordered="true" data-title="<%= t 'reach.publication_reads' %>" id="publication-reads" data-tooltip="<%= t 'reach.2015.tips.publication_reads' %>"></div>
  </li>
  <li class="row-7 col-3 height-3">
    <div data-id="2015-Visitors" data-view="Number" data-unordered="true" data-title="<%= t 'reach.visitors' %>" id="visitors" data-tooltip="<%= t 'reach.2015.tips.visitors' %>"></div>
  </li>
  <li class="row-10 col-3 height-3">
    <div data-id="2015-Events" data-view="Number" data-unordered="true" data-title="<%= t 'reach.events' %>" id="events" data-tooltip="<%= t 'reach.2015.tips.events' %>"></div>
  </li>
  <li class="row-13 col-3 height-3">
    <div data-id="2015-Event-attendees" data-view="Number" data-unordered="true" data-title="<%= t 'reach.event_attendees' %>" id="event-attendees" data-tooltip="<%= t 'reach.2015.tips.event_attendees' %>"></div>
  </li>
</ul>
