<ul class="grid rows-4 cols-4" id="company">
  <li class="row-1 col-1">
    <div data-id="2013-q4-progress" data-view="Smallmeter" data-unordered="true" data-title="<%= t 'progress.2013.q4.title' %>" id="q4-progress"></div>
  </li>
  <li class="row-2 col-1">
    <div data-id="2013-q3-progress" data-view="Smallmeter" data-unordered="true" data-title="<%= t 'progress.2013.q3.title' %>" id="q3-progress"></div>
  </li>
  <li class="row-3 col-1">
    <div data-id="2013-q2-progress" data-view="Smallmeter" data-unordered="true" data-title="<%= t 'progress.2013.q2.title' %>" id="q2-progress"></div>
  </li>
  <li class="row-4 col-1">
    <div data-id="2013-q1-progress" data-view="Smallmeter" data-unordered="true" data-title="<%= t 'progress.2013.q1.title' %>" id="q1-progress"></div>
  </li>

  <li class="row-1 col-2 height-2">
    <div data-id="2013-Reach" data-view="Number" data-unordered="true" data-title="<%= t 'company.reach' %>" id="total-reach"></div>
  </li>
  <li class="row-1 col-3 height-2">
    <div data-id="2013-Value" data-view="Number" data-unordered="true" data-title="<%= t 'company.value' %>" id="value-unlocked"></div>
  </li>
  <li class="row-1 col-4 height-2">
    <div data-id="2013-Members" data-view="Number" data-unordered="true" data-title="<%= t 'company.members' %>" id="active-members"></div>
  </li>
<li class="row-3 col-2 height-2">
  <div data-id="2013-KPIs" data-view="Number" data-unordered="true" data-title="<%= t 'company.2013.kpis' %>" id="kpis"></div>
</li>
  <li class="row-3 col-3 height-2">
    <div data-id="2013-Bookings" data-view="Number" data-unordered="true" data-title="<%= t 'company.commercial_bookings' %>" id="bookings"></div>
  </li>
  <li class="row-3 col-4 height-2">
    <div data-id="2013-ODCs" data-view="Number" data-unordered="true" data-title="<%= t 'company.odcs' %>" id="odcs"></div>
  </li>
</ul>
