<ul class="grid rows-2 cols-4" id="company">
  <li class="row-1 col-1">
    <div data-id="2014-Reach" data-view="Number" data-unordered="true" data-title="<%= t 'company.reach' %>" id="total-reach"></div>
  </li>
  <li class="row-1 col-2">
    <div data-id="2014-Value" data-view="Number" data-unordered="true" data-title="<%= t 'company.value' %>" id="value-unlocked"></div>
  </li>
  <li class="row-1 col-3">
    <div data-id="2014-network-size" data-view="NumberWithTarget" data-unordered="true" data-title="<%= t 'company.network' %>" id="network-size"></div>
  </li>
  <li class="row-2 col-1">
    <div data-id="2014-commercial-bookings" data-view="NumberWithTarget" data-unordered="true" data-title="<%= t 'company.commercial_bookings' %>" id="bookings"></div>
  </li>
  <li class="row-2 col-2">
    <div data-id="2014-non-commercial-bookings" data-view="NumberWithTarget" data-unordered="true" data-title="<%= t 'company.non_commercial_bookings' %>" id="non-commercial-bookings"></div>
  </li>
  <li class="row-2 col-3">
    <div data-id="2014-grant-funding" data-view="NumberWithTarget" data-unordered="true" data-title="<%= t 'company.grants' %>" id="grant-funding"></div>
  </li>
  <li class="row-1 col-4 height-2">
    <div data-id="2014-revenue-by-sector" data-view="Pie" data-title="<%= t 'company.revenue_by_sector' %>" id="revenue-by-sector"></div>
  </li>
</ul>
