<ul class="grid rows-2 cols-4" id="company">
  <li class="row-1 col-1">
    <div data-id="2015-network-size" data-view="Number" data-unordered="true" data-title="<%= t 'company.network' %>" id="network-size" data-tooltip="<%= t 'company.2015.tips.network' %>"></div>
  </li>
  <li class="row-1 col-2">
    <div data-id="2015-people-trained" data-view="NumberWithTarget" data-unordered="true" data-title="<%= t 'company.training' %>" id="people-trained" data-tooltip="<%= t 'company.2015.tips.training' %>"></div>
  </li>
  <li class="row-1 col-3">
    <div data-id="2015-trainers-trained" data-view="NumberWithTarget" data-unordered="true" data-title="<%= t 'company.trainers' %>" id="trainers-trained" data-tooltip="<%= t 'company.2015.tips.trainers' %>"></div>
  </li>
  <li class="row-2 col-1">
    <div data-id="2015-Reach" data-view="NumberWithTarget" data-unordered="true" data-title="<%= t 'company.reach' %>" id="total-reach" data-tooltip="<%= t 'company.2015.tips.reach' %>"></div>
  </li>
  <li class="row-2 col-2">
    <div data-id="2015-flagship-stories" data-view="NumberWithTarget" data-unordered="true" data-title="<%= t 'company.flagship_stories' %>" id="flagship-stories" data-tooltip="<%= t 'company.2015.tips.flagship_stories' %>"></div>
  </li>
  <li class="row-2 col-3">
    <div data-id="2015-bookings" data-view="NumberWithTarget" data-unordered="true" data-title="<%= t 'company.sales' %>" id="bookings" data-tooltip="<%= t 'company.2015.tips.sales' %>"></div>
  </li>
  <li class="row-1 col-4 height-2">
    <div data-id="2015-revenue-by-sector" data-view="Pie" data-title="<%= t 'company.revenue_by_sector' %>" id="revenue-by-sector" data-tooltip="<%= t 'company.tips.revenue_by_sector' %>"></div>
  </li>
</ul>
