<ul class="grid rows-2 cols-3" id="company">
  <li class="row-1 col-1">
    <div data-id="Lifetime-Value" data-view="Number" data-unordered="true" data-title="<%= t 'company.value' %>" id="value-unlocked" data-tooltip="<%= t 'company.tips.value' %>"></div>
  </li>
  <li class="row-1 col-2">
    <div data-id="Lifetime-network-size" data-view="Number" data-unordered="true" data-title="<%= t 'company.network' %>" id="network-size" data-tooltip="<%= t 'company.tips.network' %>"></div>
  </li>
  <li class="row-1 col-3">
    <div data-id="Lifetime-bookings" data-view="Number" data-unordered="true" data-title="<%= t 'company.bookings' %>" id="bookings" data-tooltip="<%= t 'company.tips.bookings' %>"></div>
  </li>
  <li class="row-2 col-1">
    <div data-id="Lifetime-Reach" data-view="Number" data-unordered="true" data-title="<%= t 'company.reach' %>" id="total-reach" data-tooltip="<%= t 'company.tips.reach' %>"></div>
  </li>
  <li class="row-2 col-2">
    <div data-id="Lifetime-ODCs" data-view="Number" data-unordered="true" data-title="<%= t 'company.odcs' %>" id="odcs" data-tooltip="<%= t 'company.tips.odcs' %>"></div>
  </li>
  <li class="row-2 col-3">
    <div data-id="Lifetime-people-trained" data-view="Number" data-unordered="true" data-title="<%= t 'company.training' %>" id="people-trained" data-tooltip="<%= t 'company.tips.training' %>"></div>
  </li>
</ul>
